$page-width: 90%;

$primary-300: #ffffff; // Background color
$primary-500: #08447c;
$primary-600: #727E56; // Darker background
$primary-700: #5B7044;
$primary-800: #3B412D;
$primary-900: #2c3b48;

$secondary-500: #2043B4;

@import "./styles/index.scss";
@import "./styles/Layout.scss";
@import "./styles/NavBar.scss";
@import "./styles/Button.scss";

@import "./styles/pages/Home.scss";
@import "./styles/pages/Listing.scss"